/* ----apply style to all of the element in my document--- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0 !important;
}
/* ----end of apply style to all of the element in my document*/


/* ---style for the container-- */
.container{
    position: relative;
}
/* ----end of style container */

/* control all the links tag */
a{
    text-decoration: none !important;
    cursor: pointer;
}
/* ----end of the link control */

/* ----style the menus--- */
.header{
    box-shadow: 0px 0px 10px black;
    width: 100% ;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    padding-left: 5rem;
    list-style: none;
}
.nav-link{
    font-size: 1.9rem;
    font-weight: 400;
    color: blue;
}
.nav-link:hover{
    transition: 0.6s;
    color: #45656e;
}
.nav-logo{
    font-size: 2.1rem;
    font-weight: 500;
    color: inherit;
}
/* ---- end of style menus---- */

h1::first-letter,p::first-letter{
    text-transform: uppercase;
}

.language{
    font-size: 1.5em;
}

ol > li{
    list-style: decimal;
    margin: 10px 0;
}
/* ---style the cards--- */

.card{
    box-shadow:0px 0px 1pt 0px #333;
    margin-bottom: 2%;
}
.card:hover{
    z-index: 5;
    box-shadow:0px 0px 10px 0px #333;
}

/* --end of the cards style--- */

/* ----section side of the page */
.section-selection{
    transition: 1s;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: white;
    padding-top: 50px;
    box-shadow: 0 0 10px 0;
    z-index: 100;
    top: 0;
    left: -200px;
}
.section-selection ul li{
    list-style: none;
    padding: 20px 15px;
}
.section-selection.active{
    transition: 1s;
    left: 0;
}
.section-selection ul li:hover{
    border-bottom: 2px solid #4d516d  !important;
}
/* ----end of the section side of the page--- */

/*--- button to scroll the section of the page-- */
.section-button{
    height:max-content;
    width: 60px;
    padding-top: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 150;
}
.bar-section{
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}
.bar-section:nth-child(1){
    transition: 0.5s;
    transform:translateX(6px) rotate(27deg);
    width: 30px;
}
.bar-section:nth-child(2){
    transition: 0.5s;
    height: 4px;
    width: 35px;
    left: 4px;
    position: relative;
}
.bar-section:nth-child(3){
    transition: 0.5s;
    transform: translateX(6px) rotate(-27deg);
    width: 30px;
}
.bar-section:nth-child(2).active{
    transition: 0.5s;
    height: 4px;
    width: 35px;
    left: 8px;
    position: relative;
}
.bar-section:nth-child(1).active{
    transition: 0.5s;
    transform:translateX(6px) rotate(-27deg);
    width: 30px;
}
.bar-section:nth-child(3).active{
    transition: 0.5s;
    transform: translateX(6px) rotate(27deg);
    width: 30px;
}


/* ----end of the button section--- */

/* -----button settings------ */
.btn{
    font-size: 16px ;
    background-color: #1134a6 !important;
    color: #fff !important;
}
.btn:hover,.btn:focus,.btn:active{
    background-color: #0f52ba !important;
}
/* ----------end of button settings---------- */

/* ---------start input and textarea settings ---------- */
textarea,input{
    font-size: 16px !important;
}
/* -----------end input textarea settings------------ */

/* ---start of the media query---- */
@media  screen and (max-width:768px){
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 4.3rem;
        flex-direction: column;
        background-color:#fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0,0,0.05);
        z-index: 10;
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-item{
        margin: 1rem 0;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2){
    opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    hr{
        display: none;
    }
}

/* ----end of the media query---- */